@import "./layout.scss";
@import "./home//hero.scss";
@import "./home//home.scss";
@import "./home//new.scss";
@import "./home//about-section.scss";
@import "../styles/gender.scss";


body {
  margin: 0;
  color: #222;
}

ul {
  padding: 0;
}

li,
a {
  text-decoration: none;
  color: inherit;
  list-style: none;
}